.video-post {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid lightgray;
}

.video-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: sticky;
	margin-top: 5rem;
	margin-bottom: 2rem;
	background-color: aliceblue;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	box-shadow: 0 0 50px #ccc;
	height: 86vh;
	padding: 10px;
}

.avatar {
	padding: 10px;
}

.header {
	display: flex;
	align-items: center;
}

.link {
	text-decoration: none;
	color: black;
}

video::-webkit-media-controls {
	visibility: hidden;
}

video::-webkit-media-controls-enclosure {
	visibility: visible;
}

.name {
	margin: 0;
	font-size: 1.4rem;
	font-weight: bold;
}

.post-date {
	margin: 0;
	padding: 0px;
	font-size: 13px;
}
